<div class="row">
    <div class="col-xs-10">
        <!-- <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button> -->
        <button type="button" class="button" (click)="onNewRecipe()">
            <span class="button__text">New Recipe</span>
            <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
          </button>
    </div>
</div>
<hr>
<div class="row">
    <div class="loader_1" *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="col-xs-12" *ngIf="!isLoading">
        <app-recipe-item *ngFor="let recipeElm of recipes; let i = index" [recipe]="recipeElm" [index]="i"></app-recipe-item>
    </div>
</div>


