/* You can add global styles to this file, and also import other style files */
.loader_1{
    position: fixed;
    top:30vh;
    left:20vw;
    width: 60vw;
    padding: 16px;
    z-index: 100;
    display: flex;
    justify-content: center;
  }